<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">{{title}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="list">View Current Projects</a></li>
      <li><a routerLink="create">Add new Funding Project</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
<footer>
  <ul>
    <li><a routerLink="administrator">Admin Pannel</a></li>
  </ul>
</footer>
