<h4>Edit Project</h4>
<br>
<div>
  <label>Project Name:</label>
  <br>
  <input [(ngModel)]="selectedProject.title">
</div>

<div>
  <label>Project Description:</label>
  <br>
  <input [(ngModel)]="selectedProject.description">
</div>

<div>
  <label>Current Funds:</label>
  <br>
  <input [(ngModel)]="selectedProject.currentFunds">
</div>

<div>
  <label>Target Funds:</label>
  <br>
  <input [(ngModel)]="selectedProject.targetFunds">
</div>

<div>
  <label>Contributors:</label>
  <br>
  <input [(ngModel)]="selectedProject.contributors">
</div>
